name: cypress test - signup page
on: [workflow_dispatch]
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run tagged Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          # to run component tests we need to use "cypress run"
          command:  npm run signup
